html,
body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

#navbar-icon {
    pointer-events: none;
}

#navbar {
    /*  */
    z-index: 1001;
    /* box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.7); */
}

#mobile-menu {
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

#mobile-menu.open {
    height: 280px;
}

#mobile-menu.close {
    height: 0;
}

a.hyperlink {
    position: relative;
    color: #285cbe;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
}

a.hyperlink:hover {
    color: #4079e2;
}

a.hyperlink::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #285cbe;
    transform: scaleX(0);
    transform-origin: top left;
    transition: 0.3s ease;
}

a.hyperlink:hover::before {
    background-color: #4079e2;
    transform: scaleX(1);
}

#emission-map {
    width: 90%;
    height: 45vh;
    border-radius: 10px;
}

.map-analysis-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    opacity: 0;
}

#emission-map-analysis-container-id {
    margin-left: -20px;
    margin-right: 20px;
    z-index: 100;
}

#chloropleth-map-analysis-container-id {
    margin-left: 20px;
    margin-right: -20px;
}

#chloropleth-map {
    border-radius: 10px;
    background-color: #b7dfff;
    padding: 10px;
    min-width: 111px;
}

.chloropleth-container {
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 10px;
}

.map-container {
    height: 45vh;
}

@media screen and (max-width: 1200px), (max-height: 700px) {
    .content-box {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 800px), (max-height: 400px) {
    .content-box {
        font-size: 0.35em;
    }
}

@media only screen and (max-width: 1200px), (max-height: 700px) {
    .para-img {
        min-width: 220px;
        height: auto;
    }
}

@media only screen and (max-width: 800px), (max-height: 400px) {
    .para-img {
        min-width: 50px;
        height: auto;
    }
}
/* 
@media only screen and (max-height: 800px) {
    .visualization {
        height: 300px;
    }
}

@media only screen and (max-height: 500px) {
    .visualization {
        height: 300px;
    }
}

@media only screen and (max-height: 800px) {
    .map-container {
        height: 300px;
    }
}

@media only screen and (max-height: 500px) {
    .map-container {
        height: 300px;
    }
} */

/* @media screen and (max-width: 1200px) {
    .visualization.closed {
        height: 0;
    }
} */

.visualization {
    border-radius: 10px;
    background-color: #ebebeb;
    padding: 10px;
    max-width: 40%;
    min-width: 111px;
    height: 45vh;
    transition: 0.3s min-width ease-in, 0.3s max-width ease-in, 0.3s padding ease-in;
    position: relative;
    overflow: hidden;
}

.visualization.closed {
    max-width: 0;
    min-width: 0;
    padding: 0;
}

.visualization-close-container {
    width: fit-content;
}

#visualization-close-button {
    /* width: fit-content; */
    margin-left: auto;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

#visualization-close-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

#visualization-close-button:active {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(0.9);
}

#visualization-revert-button {
    display: none;
    /* width: fit-content; */
    margin-left: auto;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

#visualization-revert-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

#visualization-revert-button:active {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(0.9);
}

.chart-container {
    overflow-x: hidden;
    height: 83%;
}

.chart {
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #045faa;
    cursor: pointer;
    transition: 0.3s;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #045faa;
    cursor: pointer;
    transition: 0.3s;
}

.slider::-webkit-slider-thumb:hover {
    transform: scale(1.4);
}

.slider::-moz-range-thumb:hover {
    transform: scale(1.4);
}

/* width */
.chart-container::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.chart-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.chart-container::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 10px;
}

/* Handle on hover */
.chart-container::-webkit-scrollbar-thumb:hover {
    background: #464646;
}

.para-img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    float: right;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    width: 330px;
    height: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s ease;
    margin-top: 80px;
}

.para-img:hover {
    transform: scale(1.2);
}

.para-indent {
    text-indent: 3ch;
}

.header-text {
    width: 100vw;
    height: 100vh;
}

.header-title {
    margin-top: 30px;
    opacity: 0;
}

.header-subtitle {
    margin-top: 30px;
    opacity: 0;
}

.content-text-1 {
    /* background-color: red; */
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-top: 100vh;
    /* background-color: red; */
    /* opacity: 0; */
}

.content-text-2 {
    /* background-color: red; */
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-top: 50vh;
    /* background-color: red; */
    /* opacity: 0; */
}

.intro-text-1 {
    position: absolute;
    opacity: 0;
    margin-left: -20px;
    margin-right: 20px;
    /* top: 50vh; */
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 100vh;
    z-index: 100;
    /* flex-wrap: wrap; */
    /* width: 100vw;
    height: 100vh; */
}

.intro-text-2 {
    position: absolute;
    opacity: 0;
    margin-left: 20px;
    margin-right: -20px;
    /* top: 50vh; */
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 100vh;
    /* flex-wrap: wrap; */
    /* width: 100vw;
    height: 100vh; */
}

.impact-text-1 {
    position: absolute;
    opacity: 0;
    /* rotate: 30deg; */
    /* top: 50vh; */
    margin: -40px;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 100vh;
    z-index: 1;
    /* flex-wrap: wrap; */
    /* width: 100vw;
    height: 100vh; */
}

.impact-text-2 {
    position: absolute;
    opacity: 0;
    /* rotate: -30deg; */
    /* top: 50vh; */
    margin: 40px;
    left: 50vw;
    transform: translate(-50%, -50%);
    height: 100vh;
    /* flex-wrap: wrap; */
    /* width: 100vw;
    height: 100vh; */
}

.analysis-text {
    position: absolute;
    opacity: 0;
    /* rotate: -30deg; */
    /* top: 50vh; */
    margin-left: -20px;
    margin-right: 20px;
    left: 50vw;
    transform: translate(-50%, 0);
    height: 100vh;
    /* flex-wrap: wrap; */
    /* width: 100vw;
    height: 100vh; */
    z-index: -1;
}

.content-box {
    background-color: rgb(17,24,39, 0.85);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(30px);
    margin-top: 80px;
    /* text-align: justify; */
}

.content-box.analysis-box {
    padding: 20px 0;
    margin-top: 40px;
}

.content-heading {
    font-size: 1.5em;
}

.content-mass {
    font-size: 1.1em;
}

.content-attr {
    font-size: 0.9em;
}

.img-section-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../res/ghgc1.jpg);
    min-height: calc(700%);
}

.img-section-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../res/ghgc2.jpg);
    min-height: calc(1550%);
}

.analysis-container {
    margin-top: 850vh;
    /* bottom: 0%;
    left: 50%; */
    width: 100vw;
    height: 100vh;
}

.img-section-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../res/ghgc3.jpg);
    transform: translate(-50%,-50%);
    border-radius: 40px;
    overflow: hidden;
    pointer-events: none;
}

.section-4-container {
    margin-top: 50vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* -webkit-perspective: 1000;
    perspective: 10; */
    background-color: #c7e1ff;
}

.slide-container {
    min-width: 500vw;
    min-height: 100vh;
    /* transform-style: preserve-3d; */
}

.slide {
    min-width: 100vw;
    min-height: 100vh;
    float: left;
    /* background-color: rebeccapurple;
    transform: translateZ(-50px); */
}

.slide.one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../res/ghgc4.jpg);
}
.slide.two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../res/ghgc5.jpg);
}
.slide.three {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../res/ghgc6.jpg);
}
.slide.four {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../res/ghgc7.jpg);
}
.slide.five {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../res/ghgc8.jpg);
}

.slide .one,
.slide .two,
.slide .three,
.slide .four,
.slide .five {
    background-position: 0 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.img-section-1,
.img-section-2,
.img-section-3 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-section-container {
    margin-top: 650vh;
}

.text-section {
    padding: 50px 80px;
    /* text-align: justify; */
}

.text-section.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.text-section.section-dark {
    background-color: #282e34;
    color: #ddd;
}

hr {
    border-color: #5d6266;
    margin: 5px 0;
}

.rule-margin {
    margin: 0 10px;
}
